{% if pagination.pages > 1 %}
  <nav role="navigation">
    {% if pagination.previous %}
      <a href="{{ pagination.previous.url }}" class="btn btn-sm btn-outline-dark">{{ "general.pagination.previous" | t }}</a>
    {% endif %}

    {% if pagination.next %}
      <a href="{{ pagination.next.url }}" class="btn btn-sm btn-dark">{{ "general.pagination.next" | t }}</a>
    {% endif %}
  </nav>
{% endif %}