{% case section.settings.footer_type %}
  {% when 'simple' %}
  {% render 'footer-simple' %}
{% else %}
  {% render 'footer-fashion' %}
{% endcase %}

{% schema %}
  {
    "name": "Footer",
    "blocks": [
      {
        "type": "@app"
      }, {
        "type": "link_list",
        "name": "Liens utiles",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Quick links",
            "label": "Quick links"
          }, {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "Choose a menu to display"
          }
        ]
      }, {
        "type": "text",
        "name": "text",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Heading",
            "label": "Heading"
          }, {
            "type": "richtext",
            "id": "subtext",
            "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
            "label": "content"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "footer_type",
        "label": "Select the default footer to display",
        "options": [
          {
            "label": "Simple",
            "value": "simple"
          }, {
            "label": "Fashion",
            "value": "fashion"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "allow_social_links",
        "label": "Display all social links"
      },
      {
        "type": "checkbox",
        "id": "enable_country_selector",
        "label": "Show country selector"
      },
      {
        "type": "checkbox",
        "id": "enable_language_selector",
        "label": "Show language selector"
      }, {
        "type": "checkbox",
        "id": "show_payment_methods",
        "label": "Show payment methods"
      }, {
        "type": "text",
        "id": "rights",
        "label": "Type text",
        "info": "Example : All rights reserved."
      }, {
        "type": "image_picker",
        "id": "logo",
        "label": "Choose the logo to display for your brand"
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "link_list"
        }, {
          "type": "text"
        }
      ]
    }
  }
{% endschema %}