<section class="py-12 bg-primary bg-pattern">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading-->
        <h1 class="display-4 mb-9 text-white">
          Sale up to 50% off
        </h1>

        <!-- Buttons -->
        <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="shop.html">Dresses</a>
        <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="shop.html">Tops &amp; T-Shirts</a>
        <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="shop.html">Blouses &amp; Shirts</a>
        <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="shop.html">Jeans &amp; Trousers</a>
        <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="shop.html">Jeans &amp; Trousers</a>
        <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="shop.html">Shoes</a>
        <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="shop.html">Acessories</a>
        <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="shop.html">Coats &amp; Jakets</a>
        <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="shop.html">Shorts &amp; Skirts</a>

      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "presets": [
      {
        "name": "Discount Section"
      }
    ]
  }
{% endschema %}