{% render 'breadcrumb' %}
<section class="py-12 bg-light">
  <div class="container">
    <div class="row">
      <!-- Card -->
      <div class="card card-lg mx-auto">
        <div class="card-body">
          <!-- Heading -->
          <h6 class="mb-7 text-center">Register</h6>

          {% form 'create_customer' %}
            <div class="row">
              {{ form.errors | default_errors }}
              <div class="col-12">
                <div class="form-group">
                  <label class="visually-hidden" for="first_name">
                    First Name *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    name="customer[first_name]"
                    id="first_name"
                    type="text"
                    placeholder="First Name *"
                    required="">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="visually-hidden" for="last_name">
                    Last Name *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    name="customer[last_name]"
                    id="last_name"
                    type="text"
                    placeholder="Last Name *"
                    required="">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="visually-hidden" for="email">
                    Email Address *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    id="email"
                    name="customer[email]"
                    type="email"
                    placeholder="Email Address *"
                    required="">
                </div>
              </div>
              <div class="col-12">
                <!-- Password -->
                <div class="form-group">
                  <label class="visually-hidden" for="password">
                    Password *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    name="customer[password]"
                    id="password"
                    type="password"
                    placeholder="Password *"
                    required="">
                </div>
              </div>

              <div class="col-12">
                <!-- Button -->
                <button class="btn btn-sm btn-dark" type="submit">Register</button>
              </div>

              {% if section.settings.show_login %}
                <a class="mt-5" href="{{ routes.account_login_url }}">Already have an account?</a>

              {% endif %}
            </div>
          {% endform %}
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Register Page",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_login",
        "default": true,
        "label": "Show login link"
      }
    ]
  }
{% endschema %}